<div class="accordion-section" *ngFor="let slotData of slotsData">
  <button class="accordion" (click)="openAccordion($event)">{{slotData?.date}}</button>
  <div class="panel">
    <ion-list>
      <ion-item *ngFor="let slot of slotData.data">
        <ion-grid>
          <ion-row class="ion-align-items-stretch">
            <ion-col size="7">
              <ion-row>
                <ion-col size="12">
                  <ion-text>{{slot.name}}</ion-text>
                </ion-col>
                <ion-col size='12'>
                  <ion-note color="primary">{{slot.address}}, {{slot.district}}, {{slot.state}}.</ion-note>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="5">
              <ion-row>
                <ion-col size="12">
                  <ion-text color="secondary">{{slot.vaccine}}</ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-note>{{slot.ageLimit}}+, {{slot.fee_type}}</ion-note>
                </ion-col>
                <ion-col>
                  <ion-text>Available: {{slot.capacity}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>
          <!-- <div class="horizontal-line"></div> -->
          <ion-row class="MLR-30">
            <ion-col size=6 class="ion-text-end">
              <div class="vaccine-availability">
                <ion-chip [disabled]="slot.dose1Capacity == 0"
                  [color]="slot.dose1Capacity > 5 ? 'success' : slot.dose1Capacity == 0 ? 'danger' : 'warning'">
                  <ion-label>Dose 1</ion-label>
                </ion-chip>
                <ion-text class="badge"
                  [color]="slot.dose1Capacity > 5 ? 'success' : slot.dose1Capacity == 0 ? 'danger' : 'warning'">
                  {{slot.dose1Capacity}}</ion-text>
              </div>

            </ion-col>
            <ion-col size=6 class="ion-text-start">
              <div class="vaccine-availability">
                <ion-chip [color]="slot.dose2Capacity > 5 ? 'success' : slot.dose2Capacity == 0 ? 'danger' : 'warning'"
                  [disabled]="slot.dose2Capacity == 0">
                  <ion-label>Dose 2</ion-label>
                </ion-chip>
                <ion-text class="badge"
                  [color]="slot.dose1Capacity > 5 ? 'success' : slot.dose1Capacity == 0 ? 'danger' : 'warning'">
                  {{slot.dose2Capacity}}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>



      </ion-item>
    </ion-list>

  </div>
</div>

<div class="no-data" *ngIf="slotsData.length == 0">
  <no-data></no-data>
</div>
