:root {
  --ion-color-primary: #e2856e;
  --ion-color-primary-rgb: 226, 133, 110;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #c77561;
  --ion-color-primary-tint: #e5917d;

  --ion-color-secondary: #88a2aa;
  --ion-color-secondary-rgb: 136, 162, 170;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #788f96;
  --ion-color-secondary-tint: #94abb3;

  --ion-color-tertiary: #706c61;
  --ion-color-tertiary-rgb: 112, 108, 97;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #635f55;
  --ion-color-tertiary-tint: #7e7b71;

  --ion-color-success: #a1c181;
  --ion-color-success-rgb: 161, 193, 129;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #8eaa72;
  --ion-color-success-tint: #aac78e;

  --ion-color-warning: #fcca46;
  --ion-color-warning-rgb: 252, 202, 70;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #deb23e;
  --ion-color-warning-tint: #fccf59;

  --ion-color-danger: #a30b37;
  --ion-color-danger-rgb: 163, 11, 55;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #8f0a30;
  --ion-color-danger-tint: #ac234b;

  --ion-color-dark: #443627;
  --ion-color-dark-rgb: 68, 54, 39;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #3c3022;
  --ion-color-dark-tint: #574a3d;

  --ion-color-medium: #ada296;
  --ion-color-medium-rgb: 173, 162, 150;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #988f84;
  --ion-color-medium-tint: #b5aba1;

  --ion-color-light: #e8f1f2;
  --ion-color-light-rgb: 232, 241, 242;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #ccd4d5;
  --ion-color-light-tint: #eaf2f3;

  --ion-color-confirmed-rgb: rgb(20, 54, 66);
  --ion-color-confirmed-hex: #143642;
  --ion-color-active-rgb: rgb(236, 154, 41);
  --ion-color-active-hex: #ec9a29;
  --ion-color-deceased-rgb: rgb(218, 210, 216);
  --ion-color-deceased-hex: #dad2d8;
  --ion-color-recovered-rgb: rgb(15, 141, 143);
  --ion-color-recovered: #0f8d8f;
  --ion-color-new-rgb: rgb(168, 32, 26);
  --ion-color-new-hex: #a8201a;

  .ion-color-confirmed {
    color: #143642 !important;
  }

  .ion-color-active {
    color: #ec9a29 !important;
  }

  .ion-color-deceased {
    color: #dad2d8 !important;
  }

  .ion-color-recovered {
    color: #0f8d8f !important;
  }

  .ion-color-new {
    color: #a8201a !important;
  }
}
