<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Covid Analytics</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col class="ion-no-padding">
      <ion-item>
        <ion-label position="stacked">State</ion-label>
        <ion-select [(ngModel)]="stateAnalytics" okText="Okay" cancelText="Dismiss" mode="ios"
          [value]="analyticsData[0]" (ionChange)="selectStateHandler()" [compareWith]="compareWith">
          <ion-select-option *ngFor="let stateAnalytics of analyticsData" [value]="stateAnalytics">
            {{stateAnalytics?.state_name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="scrollListener($event)" #pageContent>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>

      <ion-col size='12'>
        <ion-card>
          <div class="card-chart">
            <app-chart [doughnutChartLabels]="totalLabel" [doughnutChartData]="totalData"
              [doughnutChartColors]="totalColors" [dimension]="dimension" *ngIf="showChart">
            </app-chart>
          </div>

          <ion-card-header>
            <ion-card-subtitle color="medium">updated on {{overallLastUpdatedAt}}</ion-card-subtitle>
            <ion-card-title color="primary">Overall Cases</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Confirmed</ion-label>
                  <ion-chip class="confirmed" slot="end">
                    <!-- <ion-icon name="heart" color="confirmed"></ion-icon> -->
                    <ion-label color="confirmed">{{numberFormatting(totalData[0])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Deceased</ion-label>
                  <ion-chip class="deceased" slot="end">
                    <!-- <ion-icon name="heart" color="dark"></ion-icon> -->
                    <ion-label color="deceased">{{numberFormatting(totalData[1])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Recovered</ion-label>
                  <ion-chip class="recovered" slot="end">
                    <!-- <ion-icon name="heart" color="dark"></ion-icon> -->
                    <ion-label color="recovered">{{numberFormatting(totalData[2])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Active</ion-label>
                  <ion-chip class="active" slot="end">
                    <!-- <ion-icon name="heart" color="dark"></ion-icon> -->
                    <ion-label color="active">{{numberFormatting(totalData[3])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12'>

        <ion-card>
          <div class="card-chart" *ngIf="!latestDataIssue?.status">
            <app-chart [doughnutChartLabels]="totalLatestLabel" [doughnutChartData]="totalLatestData"
              [doughnutChartColors]="totalLatestColors" [dimension]="dimension" *ngIf="showChart">
            </app-chart>
          </div>
          <data-issue [dataIssueType]="latestDataIssue?.type" *ngIf="latestDataIssue?.status"></data-issue>
          <ion-card-header>
            <ion-card-subtitle color="medium"> updated on {{lastUpdatedAt}}</ion-card-subtitle>
            <ion-card-title color="primary">Latest Cases</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Confirmed</ion-label>
                  <ion-chip class="confirmed" slot="end">
                    <!-- <ion-icon name="heart" color="confirmed"></ion-icon> -->
                    <ion-label color="confirmed">{{numberFormatting(totalLatestData[0])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Deceased</ion-label>
                  <ion-chip class="deceased" slot="end">
                    <!-- <ion-icon name="heart" color="dark"></ion-icon> -->
                    <ion-label color="deceased">{{numberFormatting(totalLatestData[1])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding" size="12">
                <ion-item>
                  <ion-label color="dark">Recovered</ion-label>
                  <ion-chip class="recovered" slot="end">
                    <!-- <ion-icon name="heart" color="dark"></ion-icon> -->
                    <ion-label color="recovered">{{numberFormatting(totalLatestData[2])}}</ion-label>
                  </ion-chip>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showFab" (click)="gotoTop()">
    <ion-fab-button color="dark" size="small">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline" color="secondary"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
